/* Initialize variables here */

/* Code started here */
* {
    padding: 0;
    margin: 0;
}

.main-section {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    font-family: "Poppins";

    .header {
        font-size: 52px;
        font-weight: 600;
        color: black;
    }
    .number {
        font-size: 30px;
        font-weight: 600;
        color: black;
    }
    .buttons {
        position: relative;
        top: 3.5rem;
        display: flex;
        align-items: center;
        column-gap: 20px;

        .decrease {
            width: 129px;
            height: 52px;
            background-color: white;
            border: 2px solid black;
            font-family: "Poppins";
            font-size: 15px;
            font-weight: 600;
            color: black;
            border-radius: 8px;
            transition: 0.3s;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        .decrease:hover {
            background-color: black;
            color: white;
        }

        .reset {
            width: 129px;
            height: 52px;
            background-color: white;
            border: 2px solid black;
            font-family: "Poppins";
            font-size: 15px;
            font-weight: 600;
            color: black;
            border-radius: 8px;
            transition: 0.3s;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        }
        .reset:hover {
            background-color: black;
            color: white;
        }

        .increase {
            width: 129px;
            height: 52px;
            background-color: white;
            border: 2px solid black;
            font-family: "Poppins";
            font-size: 15px;
            font-weight: 600;
            color: black;
            border-radius: 8px;
            transition: 0.3s;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        }
        .increase:hover {
            background-color: black;
            color: white;
            
        }

    }
}